<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!--<script src="vue.js"></script>-->
    <script src="https://kit.fontawesome.com/557a9eecff.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Contatos2</title>
</head>
<body>
    <div id="app">
        <section class="more" v-if="pesquisar">
            <h3>Pesquisar</h3>
            <input v-model="pesquisa">
            <p>
                Total de contatos: {{ lista.length }}
            </p>
        </section>

        <section class="adicionar" v-else-if="adicionar">
            <h3>Adicionar novo</h3>
            <input v-model="nome" placeholder="nome">
            <input type="number" placeholder="telefone" v-model="tel" >
            <button class="add" @click='add'>Adicionar</button>
            <button class="goBack" @click='goBack'>Voltar</button>
        </section>

        <section class="mostrar" v-else-if="mostrar" >
            <i class="fas fa-user"></i>
            <h3 class="t"></h3>
            <p class="tel"></p>
        </section>




        <section class="list">
            <h3>Contatos</h3>

            <div class="container-c" >
                <div class="contato" v-for='item in listaF' @click='show($event)'>
                    {{ item.nome }}
                    <div>{{ item.tel }}</div>
                </div>
            </div>

            <button class="add" @click="create">
                Criar novo
            </button>
        </section>

    </div>

    <script src="script.js"></script>
</body>
</html>