* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Rubik', sans-serif;
    background-color: rgb(209, 209, 209);
}

#app {
    height: 60vh;
    width: 55vw;
    margin: auto;
    margin-top: 2rem;
    background-color: gray;

    display: flex;
}

/* PESQUISAR CONTATO ----------------------------*/
#app .more {
    flex: 1;
    background-color: rgb(193, 172, 218);
    text-align: center;
    padding-top: 1rem;
}
#app .more input {
    align-self: center;
    margin-top: 2rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 7px 13px rgb(159, 140, 173);
}
#app .more p {
    margin-top: 2rem;
}

/*  ADICIONAR CONTATO  ------------------------- */

.adicionar {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: lavender;
    text-align: center;
}
.adicionar h3 {
    margin: 2rem 0;
}
.adicionar input {
    width: 60%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    align-self: center;
    border-radius: 5px;
    border: 1px solid #000;
}
.adicionar .goBack {
    margin-top: 1rem;
    width: 40%;
    padding: 0.7rem;
    font-weight: bold;
    color: rgb(85, 138, 151);
    background-color: rgb(189, 214, 238);
    box-shadow: 4px 7px 13px rgb(159, 140, 173);
    border-radius: 15px;
    align-self: center;
    border: none;
    cursor: pointer;
}

/*  MOSTRAR CONTATO  ------------------------------ */

.mostrar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mostrar i {
    font-size: 60px;
    margin-top: 2rem;
    background-color: rgb(172, 171, 171);
    padding: 1rem 1.3rem;
    border-radius: 50%;
}
.mostrar h3 {
    margin-top: 1rem;
    text-align: center;
}
.mostrar h3 div {
    margin-top: 0.5rem;
    color: rgb(65, 56, 75);
    font-weight: normal;
}
/* LISTA -------------------------------------------*/

#app .list {
    flex: 1;
    background-color: rgb(255, 255, 255);

    text-align: center;
}
#app .list h3 {
    margin: 1rem 0;
} 
.container-c {
    width: 90%;
    margin: auto;

    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
}
.container-c .contato {
    background-color: rgb(92, 179, 205);
    padding: 0.5rem;
    width: auto;   
}
.container-c .contato div
{
    display: none;
}
.add {
    margin-top: 2rem;
    width: 40%;
    padding: 0.7rem;
    font-weight: bold;
    color: #fff;
    background-color: rgb(132, 85, 167);
    box-shadow: 4px 7px 13px rgb(159, 140, 173);
    border-radius: 15px;
    align-self: center;
    border: none;
    cursor: pointer;
}